<?xml version="1.0" encoding="UTF-8"?>
<module name="org.apache.kafka.clients" xmlns="urn:jboss:module:1.8">
    <resources>
        <resource-root path="kafka-clients-3.1.0.jar"/>
        <resource-root path="snappy-java-1.1.8.4.jar"/>
        <resource-root path="lz4-java-1.8.0.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>
